body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background: linear-gradient(135deg, #0ea5e9, #e0f2fe);
    color: #0f172a;
}

header {
    padding: 30px;
    background: linear-gradient(135deg, #0284c7, #0369a1);
    color: white;
}

header p {
    color: gold;
    font-weight: bold;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 85%;
    border-radius: 10px;
    border: 2px solid #0ea5e9;
}

button {
    margin: 10px;
    padding: 12px 25px;
    border: none;
    background: linear-gradient(135deg, gold, #facc15);
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}
